/* Variables */
:root {
    --black: rgb(11,11,11);
    --white: rgb(247,247,247);
    --deepblue: rgba(26, 41, 97, 1);
}

html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: "Jost", sans-serif;
    background-color: var(--deepblue);
    height:2000px;
    color: rgba(26, 41, 97, 1);
    word-spacing: 5px;
}

body.ovh {
    overflow: hidden;
}

* {
    margin:0;
    padding:0;
    text-decoration: none;
}

body h1 {
    font-size:19px;
    font-weight:500;
    text-align: center;
    width: fit-content;
}

body h2 {
    font-size:21px;
    width: fit-content;
    margin-bottom:30px;
    margin-top:50px;
    text-align: center;
}

body .text {
    font-size:16px;
    width:80%;
    margin-bottom:30px;
}

.text a {
    text-decoration: underline;
    color: var(--deepblue);
}

body button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    border-radius: 50%;
    width:32px;
    height:32px;
    transition: 0.2s ease-in-out;
}

header {
    background-image: url(../assets/BANNIERESVG.svg);
    width:100%;
    height:150px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 0 0 2px var(--black);
    color: var(--white);
    transition: 0.4s ease-in-out;
}

header.transparent {
    opacity:0.7;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

header h2 {
    margin-top:0 !important;
    margin-bottom:0 !important;
    font-size:18px !important;
    font-weight: 400 !important;
}

#sidebar {
    height:100%;
    width:250px;
    position: fixed;
    left: -250px;
    transition: 0.4s ease-in-out;
    z-index: 25000;
    background-color: var(--white);
}

#sidebar.visible {
    left:0;
    box-shadow: 0 0 10px 2px rgb(11,11,11,0.2);
}

.menu h2 {
    margin-top:0 !important;
    margin-bottom:0 !important;
    font-size:18px !important;
    font-weight: 400 !important;
}

.menu {
    background-color: var(--white);
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu .menu1, .menu2, .menu3, .menu4 {
    width:100%;
    height:20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--black);
    font-size: 16px;
    transition: 0.5s ease-in-out;
}

.menu.visible .menu1 {
    box-shadow: 0 0 5px 1px rgb(11,11,11,0.2);
}

.menu.visible .menu2 {
    box-shadow: 0 0 5px 1px rgb(11,11,11,0.2);
}
.menu.visible .menu3 {
    box-shadow: 0 0 5px 1px rgb(11,11,11,0.2);
}
.menu.visible .menu4 {
    box-shadow: 0 0 5px 1px rgb(11,11,11,0.2);
}

.inviszone {
    position: fixed;
    display: none;
    left:250px;
    width:70px;
    height:100%;
    z-index: 22000;
    transition: 0.3s ease-in-out;
}

.inviszone.active {
    display: flex;
}

.toggle-btn {
    position: fixed;
    border-radius: 50%;
    width: 43px;
    height:43px;
    transition:0.4s ease-in-out;
    z-index: 250000;
    overflow: hidden;
    box-shadow: 0 0 10px 2px rgb(11,11,11,0.2);
    left:10px;
    top:10px;
}

.toggle-btn.left {
    margin-left:0 !important;
    left:229px !important;
}

.toggle-btn .svg {
    position: absolute;
    left:0;
    transition: 0.4s ease-in-out;
}

.toggle-btn .svg2 {
    position: absolute;
    left:-50px;
    transition: 0.4s ease-in-out;
}

.toggle-btn.left .svg {
    left:50px !important;
}

.toggle-btn.left .svg2 {
    left:0 !important;
}

main {
    transition: 0.4s ease-in-out;
    height:100%;
    width:100%;
    background-color: var(--white);
}

main.transparent {
    opacity:0.7;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider {
    display: grid;
    position: relative;
    width:90%;
}

.sliderimg {
    width:100px;
    height:135px;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-self: center;
}

.img {
   position: absolute;
   left:0;
   transition: 0.5s ease-in-out;
}

.img.pos1 {
    left:0.5px;
}

.img.pos2 {
    left:-105.5px;
}

.img.pos3 {
    left:-211.5px;
}

.img.pos4 {
    left:-317.5px;
}

.img.pos5 {
    left:-423.5px;
}

.img.pos6 {
    left:-529.5px;
}

#leftbtns {
    position: absolute;
    bottom:0;
    left:5%;
}

.sliderbtns {
    height:32px;
}

.sliderbtns button:hover {
    transform: scale(1.2);
}

.sliderbtns img {
    width:32px;
    height:32px;
    box-shadow: 0 0 10px 2px rgb(11,11,11,0.2);
    border-radius: 50%;
}

#rightbtn {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right:12%;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgb(11,11,11,0.2);
    transition: 0.2s ease-in-out;
}

#rightbtn:hover {
    transform: scale(1.2);
}

#rightbtn img {
    position: absolute;
    width:32px;
    height:32px;
}

.pausebtn {
    top:0;
    left:0;
    transition: 0.3s ease-in-out;
}

.pausebtn.paused {
    top:-35px !important;
}

.playbtn {
    top:35px;
    left:0;
    transition: 0.3s ease-in-out;
}

.playbtn.resumed {
    top:0 !important;
}

#topleftslider {
    margin:0;
    align-self:flex-start;
    width:fit-content;
    height: 35px;
    color: rgba(247, 223, 30, 1);
    font-weight: 600;
}

#botrightslider {
    margin:0;
    width:fit-content;
    height: 26px;
    justify-self: flex-end;
    color: rgba(247, 223, 30, 1);
    font-weight: 600;
}

.blue {
    color: rgb(74, 156, 214);
}

.light-yellow {
    color: rgba(220, 220, 170, 1);
}